* {
  background-color: lightgray;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}


section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dotted black;
  width: 600px;
}

h2 {
  border-radius: 5px;
  position: absolute;
  transform: translateY(-12.5px);
  height: 25px;
  z-index: 2;
  background-color: red;
  border: 10px;
}

sectionP {
  border: 1px solid black;
}

pre {
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
}
