:root {
  --dark: #43457f;
  --orange: #ff9b83;
}

* {
  background-color: lightgrey;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}
header {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 100px;
  margin-bottom: 40px;
  justify-content: center;
  background-color: var(--dark);
  color: white;
  line-height: 1.5;
}

header,
h1,
p,
footer,
a {
  background-color: var(--dark);
}

main {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
}

section {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed black;
  width: 400px;
  background-color: var(--orange);
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  transform: translateY(-12.5px);
  height: 25px;
  z-index: 2;
  background-color: #ff9b83;
  border: solid 1px black;
}

.sectionP {
  background-color: var(--orange);
}

pre {
  background: linear-gradient(#87ceeb, #0ba8e6);
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  width: 300px;
  height: 100%;
  font-size: 11px;
  opacity: 0.1;
  user-select: all;
  padding: 10px;
}

pre:hover {
  opacity: 1;
  transition: opacity 1s ease-out;
  cursor: pointer;
}

footer {
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
  bottom: 0;
  width: 100vw;
}

footer,
a {
  color: white;
}

footer a:hover {
  color: aqua;
}
@media screen and (max-width: 768px) {
  header,
  h1,
  h1 + p,
  footer,
  a,
  footer > p {
    background: #772014;
  }
  footer {
    position: relative;
  }
}
