* {
  background-color: lightgray;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  border: 1px solid black;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 100px;
  margin-bottom: 40px;
  justify-content: center;
}

main {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

section {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dotted black;
  width: 400px;
}

h2 {
  border-radius: 5px;
  position: absolute;
  transform: translateY(-12.5px);
  height: 25px;
  z-index: 2;
  background-color: red;
  border: 10px;
}

pre {
  width: 300px;
}
sectionP {
  border: 1px solid black;
}

pre {
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
}

footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
